@import "./reset";
@import "./variables";
@import "./global";
@import "./breakpoint";
@import "./mixins";
@import "./global";

body {
	max-width: 1152px;
	margin: 0 auto;
	border: 1px solid $gray;
}

input[type="radio"] {
	display: none;
}

main {
	padding-top: 57px;
	margin: 0px 22px;

	@include lg {
		display: flex;
		flex-direction: column;
		gap: 24px;
		justify-content: space-between;
		margin: 0 64px 64px 64px;
	}
}

input[type="radio"]:checked + .radio-btn {
	border-color: $gold; /* Change this to your desired color for checked radio button */
}

.desktop {
	@include sm {
		display: none;
	}
	@include lg {
		display: block;
	}
}

.mobile {
	@include sm {
		display: block;
	}
	@include lg {
		display: none;
	}
}

.radio-btn {
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px solid $white; /* Default border color for unchecked radio button */
	cursor: pointer;
}

.btn_gold {
	padding: 8px 12px;
	font-size: 14px;
	background-color: white;
	border: 1px solid $gold;
	color: $gold;
	font-size: 14px;
	font-family: $raleway;
	font-weight: 500;
	word-wrap: break-word;
}

.breadcrumb {
	margin: 24px 0;
}

.breadcrumb span {
	font-family: $raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
}

.wrapper {
	@include lg {
		display: flex;
		flex-direction: row;
		gap: 24px;
		justify-content: space-between;
	}
}

.wrapper__header__dropdown {
	@include lg {
		display: flex;
		flex-direction: row;
	}
}

.main__box {
	@include lg {
		width: calc(100% - $spesification_width);
	}
}

.image__box {
	@include lg {
		width: 317px;
	}
}
.header__wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100vw;
	max-width: 1152px;
}

.header__bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 16px;
	border-bottom: 1px solid $gray;
	background-color: $white;
}

.header__logo {
	@include lg {
		margin-left: 48px;
	}
}

.header__logo h1 {
	font-family: $bentham;
	font-weight: 400;
	font-size: 24px;
}

.header__icon--left {
	@include sm {
		display: block;
	}

	@include lg {
		display: none;
	}
}

.header__nav--web {
	flex: 1;
	display: none;

	@include lg {
		display: block;
	}

	margin: 0 42px;
}

.header__nav--web ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.header__nav--web ul li {
	display: inline;
}

.header__nav--web a {
	color: $black;
	text-decoration: none;
	font-family: $raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.header__nav--web a:hover {
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-color: $gold;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
}

.header__icon--right {
	display: flex;
	gap: 12px;
	@include lg {
		gap: 40px;
		margin-right: 48px;
	}
}
.cart__container {
	position: relative;
	@include lg {
		margin-right: 16px;
	}
}

.cart__item__counter {
	background-color: $gold;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 12px;
	padding: 2px;
}

.cart__item__counter span {
	color: $white;
}

.invis-button {
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.header__menu {
	// display: none;
	position: fixed;
	z-index: 10;
	top: 0;
}

.header__menu--mobile {
	width: 93vw;
	height: 100vh;
	background-color: $white;
	padding: 16px;
	display: none;
}

.header__menu--desktop {
	position: fixed;
	width: 100vw;
	background-color: $white;
	top: 51px;
	padding-top: 18px;
	padding-left: 64px;
	display: none;
}

.menu__item--desktop {
	margin-right: 64px;
}

.menu__item--desktop h3 {
	margin-bottom: 16px;
}

.menu__item--desktop ul li {
	margin-bottom: 24px;
}

.menu__item--desktop a {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	color: black;
	text-decoration: none;
}

.menu__item--desktop a:hover {
	color: $gold;
}

.menu__image__collection {
	display: flex;
	justify-content: center;
	gap: 24px;
	text-align: center;
}

.menu__image__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu__image__item span {
	text-align: center;
	margin-top: 8px;
}

.header__menu--top {
	width: 100%;
	display: flex;
	align-items: start;
	margin-left: 100px;
}

.header__menu--top h1 {
	color: black;
	font-size: 24px;
	font-family: $bentham;
	font-weight: 400;
	word-wrap: break-word;
	margin-right: 58px;
}

.header__menu__content {
	margin-top: 30px;
}

.menu__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	background-color: #f6f6f6;
	margin-bottom: 16px;
}

.menu__item h3 {
	margin-bottom: 8px;
}

.product__image {
	margin: 16px 0px;
	position: relative;
	height: 424px;

	@include lg {
		width: 317px;
	}
}

.back__button {
	position: absolute;
	z-index: 10;
	bottom: 50%;
	width: 32px;
	height: 32px;
	left: 16px;
	cursor: pointer;
}

.next__button {
	position: absolute;
	right: 16px;
	bottom: 50%;
	z-index: 10;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.current__image {
	display: block;
	position: absolute;
	width: 100%;
	height: 424px;
	margin-bottom: -100%;
}

.slider__image {
	position: absolute;
	width: 100%;
	height: 424px;
	margin-bottom: -100%;
	display: none;
}

.product__thumbnail--mini {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.product__rating {
	display: flex;
	@include lg {
		gap: 4px;
	}
}

.description {
	@include lg {
		width: calc(100% - 317px);
	}
}

.product__detail {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 24px;
	margin-bottom: 24px;
	@include lg {
		margin-bottom: 16px;
	}
}
.product__title {
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

	@include lg {
		font-size: 24px;
	}
}

.product__price {
	font-family: $raleway;
	font-size: 20px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
}

.product__discount {
	display: flex;
	gap: 12px;
	align-items: center;
}

.discount__percentage {
	background-color: rgba(205, 91, 99, 1);
	padding: 4px 8px;
	border-radius: 10%;
	color: $white;
	width: 50px;
	height: 20px;
}

.before__price {
	font-family: $raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	text-decoration: line-through;
	color: #bdbdbd;
}

.dropdown {
	margin-bottom: 26px;
}

.dropdown__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $gray;
	padding-bottom: 10px;
	margin-bottom: 12px;
}

.dropdown__btn {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.dropdown__content {
	display: none;
}

.dropdown__content p {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.dropdown__header h3 {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.dropdown p {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}
.material__content {
	display: flex;
	gap: 80px;
	padding-right: 22px;
	font-family: $raleway;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 12px;
}

.material_type {
	width: 75px;
}

.delivery__content {
	display: flex;
	justify-content: space-between;
	padding-right: 22px;
	font-family: $raleway;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.specification {
	@include lg {
		min-width: $spesification_width;
	}
}

.specification span {
	font-family: $raleway;
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
}

.option_box {
	@include lg {
		border: 1px solid $gray;
		padding: 16px;
	}
}

.quantity {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 32px;
}

.quantity__counter {
	display: flex;
}
.quantity__counter .button {
	width: 37px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $gold;
}
.quantity__counter .counter {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $gray;
}

.color {
	margin-top: 24px;
}

.color__body {
	margin-top: 8px;
}

.sub__total {
	margin-top: 27px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.sub__total .price {
	font-family: $raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: right;

	@include lg {
		font-size: 16px;
	}
}
.button_list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 32px;
}

.gold__btn {
	padding: 12px;
	background-color: $gold;
	color: $white;
	border: none;

	@include lg {
		font-size: 12px;
		font-family: $raleway;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: center;
	}
}

.white__btn {
	padding: 12px;
	background-color: $white;
	color: $gold;
	border: 1px solid $gold;

	@include lg {
		font-size: 12px;
		font-family: $raleway;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: center;
	}
}

.ori__product {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	@include sm {
		margin-top: 8px;
	}

	@include lg {
		justify-content: left;
	}
}

.help__box {
	text-align: center;
	padding: 12px 0;
	border: 1px solid $gray;
	margin-top: 24px;
	margin-bottom: 40px;
}

.help__box .title {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 12px;
}

.help__box .content {
	font-family: $raleway;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: center;
}

.popup {
	display: none;
}

.popup__bg {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.48);
	z-index: 90;
	height: 1000px;
	width: 100vw;
	top: 0;
	left: 0;
}

.popup__box {
	position: fixed;
	background-color: $white;
	width: 308px;
	height: 228px;
	z-index: 99;
	top: 30%; /* Position from the top */
	left: 15px;
	padding: 20px;
	opacity: 1;

	@include lg {
		left: 40%;
		top: 27%;
	}
}

.box__header {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	gap: 77px;
}

.box__header span {
	font-family: $raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

.small__thumbnail {
	width: 88px;
	height: 88px;
}

.popup__body {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-top: 24px;
	margin-bottom: 32px;
}
.item__body {
	display: flex;
	gap: 29px;
	flex-direction: column;
	justify-content: center;
}

.item__desc {
	display: flex;
	gap: 8px;
	flex-direction: column;
}

.item__desc p {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
}

.item__price {
	font-family: $raleway;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0em;
}

.popup_btn {
	width: 100%;
}

#close_popup {
	cursor: pointer;
}
