@import "./reset";
@import "./variables";
@import "./global";
@import "./breakpoint";
@import "./mixins";

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + .radio-btn {
	border-color: $gold; /* Change this to your desired color for checked radio button */
}

.radio-btn {
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 2px solid $white; /* Default border color for unchecked radio button */
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
}
.wrapper {
	margin: auto;

	@include sm {
		min-width: 360px;
		max-width: 768px;
		margin: 24px 16px;
	}
	@include lg {
		margin: auto;
		padding: 32px 64px;
		max-width: 1152px;
	}
}

header {
	margin-bottom: 24px;
}
.dropdown {
	width: 160px;
	padding: 8px 12px;
	border: 1px solid $gray;
}

.center {
	text-align: center;
}

.navlist {
	list-style: none;
	display: flex;
}

.navlist li:not(:last-child) {
	border-right: 1px solid $black;
}

.navlist li {
	padding: 0 5px;
}

.image-banner {
	width: 100%;
	margin-top: 16px;
}

.collection__heading {
	@include sm {
		font-family: $raleway;
		font-size: 20px;
		font-weight: 700;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: left;
		margin: 33px 0;
	}
}
.body__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sort__desktop {
	@include sm {
		display: none;
	}
	@include lg {
		display: flex;
	}
}

.sort__desktop span {
	margin-right: 16px;
}
.filter__menu {
	display: flex;
	gap: 8px;

	@include lg {
		display: none;
	}
}

.filter__button {
	width: 160px;
	padding: 8px 12px;
	border: 1px solid $gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter__dropdown {
	position: absolute;
	background-color: white;
	width: 100%;
	flex-direction: column;
	top: 0;
	left: 0;
	z-index: 5;
	display: none;

	padding-bottom: 50px;

	@include lg {
		position: relative;
		display: flex;
		width: 237px;
		margin-right: 24px;
	}
}

main {
	display: flex;
	width: auto;
}

.filter__header {
	display: flex;
	flex-direction: row;
	justify-content: right;
	gap: 120px;
	border-bottom: 1px solid $gray;
	padding: 18px;
	@include lg {
		justify-content: space-between;
		padding: 0;
		border: none;
		margin: 10px 0 12px 0;
	}
	height: 18px;
}

.filter__header h2 {
	font-family: $raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
}

.filter__button--mobile {
	width: 24px;
	height: 24px;
	justify-content: left;
	display: block;
	@include lg {
		display: none;
	}
}

.filter__button--desktop {
	justify-content: left;
	color: $gold;
	@include sm {
		display: none;
	}
	@include lg {
		display: block;
	}
}

.filter__body {
	padding: 16px;
	@include lg {
		width: 237px;
		padding: 0px;
	}
}

.filter__body h3 {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
}

.nav__header {
	display: flex;
	justify-content: space-between;
}

.range-input {
	position: relative;
	margin-top: 18px;
	margin-bottom: 25px;
}
.range-input input {
	position: absolute;
	width: 100%;
	height: 5px;
	top: -7px;
	background: $gold;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 3px solid $gold;
	background-color: $gold;
	pointer-events: auto;
	-webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 3px solid #1b53c0;
	background-color: #fff;
	pointer-events: auto;
	-moz-appearance: none;
}

.buttonCheckbox {
	margin-right: 8px;
	accent-color: $gold;
	color: white;
	border: 3px solid $white;
}

.collection__nav {
	margin-bottom: 24px;

	@include lg {
		border-top: 1px solid $gray;
		padding-top: 16px;
	}
}

.collection__nav li {
	margin-top: 12px;
	margin-left: 16px;
	margin-bottom: 24px;
	font-family: $raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

	@include lg {
		margin-left: 0px;
		margin-bottom: 12px;
	}
}

.price__range {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;

	@include lg {
		font-family: $raleway;
		font-size: 12px;
		font-weight: 600;
		line-height: 14px;
		letter-spacing: 0em;
		text-align: right;
		margin-bottom: 8px;
		margin-top: 12px;
	}
}

.number__slider {
	width: 100%;
}

.price__body input[type="range"] {
	width: 100%;
}

.color__body {
	display: flex;
	flex-wrap: wrap;
	gap: 18px;
	margin-top: 12px;
}

#color__1 {
	accent-color: #000000;
}

#color__2 {
	accent-color: #8c8c8c;
}

#color__3 {
	width: 50px;
	height: 50px;
	background: linear-gradient(0deg, #f8f9fa, #f8f9fa),
		linear-gradient(90deg, #e1ca80 0%, #ffffff 100%);
}

.color__radio {
	width: 28px;
	height: 28px;
}

.color__body img {
	// margin-right: 20px;
	// margin-bottom: 24px;
}
.filter__footer {
	display: flex;
	justify-content: center;
	gap: 24px;
	border-top: 1px solid $gray;
	padding: 12px;

	@include lg {
		display: none;
	}
}
.reset__buton {
	width: 160px;
	height: 40px;
	background-color: $white;
	color: $gold;
	border: 1px solid $gold;
}

.apply_button {
	width: 160px;
	height: 40px;
	background-color: $gold;
	color: $white;
	border: 1px solid $gold;
}

.collection__content {
	width: 100%;
	margin-top: 16px;
}

.content__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 16px;

	@include lg {
		gap: 16px;
	}
}

.content__count {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	@include lg {
		display: none;
	}
}
.content__item {
	margin-bottom: 16px;
	width: 160px;
	height: 289px;

	@include lg {
		width: calc(33.33% - 16px);
		height: 50%;
	}
}

.content__item img {
	width: 100%;
}

.desktop__only {
	display: none;

	@include lg {
		display: block;
	}
}

.item__image {
	position: relative;
}

.item__image img {
	width: 160px;
	height: 213px;

	@include lg {
		width: 100%;
		height: 100%;
	}
}

.content__type {
	position: absolute;
	bottom: 18px;
	background-color: #82828280;
	padding: 2px 8px;
	opacity: 0.9;
	border-radius: 25px;
	color: $white;
	font-family: $raleway;
	font-size: 10px;
	font-weight: 600;
	line-height: 12px;
	letter-spacing: 0em;
	text-align: center;
	margin-left: 8px;
}

.content__title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.content__desc {
	width: auto;
	margin: 12px 8px;
}

.content__title {
	@include lg {
		font-family: $raleway;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
	}
}

.content__discount {
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 4px 4px 12px 4px;
	background-color: #cd5b63;
	border-radius: 8px;
	margin-right: 8px;
	width: 28px;
	height: 42px;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 81%, 0 100%);
}

.content__discount p {
	font-family: $raleway;
	font-size: 10px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
	color: white;
}

.price-box {
	margin-top: 8px;

	@include lg {
		display: flex;
		align-items: center;
	}
}

.price {
	font-family: $raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;

	@include lg {
		font-size: 15px;
		font-weight: 700;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: left;

		margin-right: 8px;
	}
}

.before__price {
	font-family: $raleway;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0em;
	text-align: left;
	color: $gray;
	text-decoration: line-through;

	@include lg {
		font-size: 14px;
		line-height: 16px;
	}
}

.content__nav {
	display: flex;
	gap: 12px;
	justify-content: end;
}

.content__button {
	background-color: transparent;
	width: 36px;
	height: 36px;
	border: 1px solid $gold;
	color: $gold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page__button {
	background-color: transparent;
	width: 36px;
	height: 36px;
	border: 1px solid $gray;
	color: $black;
	justify-content: center;
	align-items: center;

	@include sm {
		display: none;
	}
	@include lg {
		display: flex;
	}
}

.page__button:hover {
	background-color: $gold;
	color: white;
}

.content__button img {
	width: 24px;
	height: 24px;
}
